body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Verdana;
}

.car-container {
  display: flex;
  justify-content: center;
}

.car-container div {
  margin-top: 50px;
}

h1 {
  color: orange;
  background-color: #333;
  border-radius: 50px;
}