body {
  margin: 0;
  padding: 0;
  padding-bottom: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: red;
}

.red-title {
  background-color: aqua;
  font-size: 40px;
  padding: 10px;
}

.title {
  background-color: antiquewhite;
  color: brown;
}